.imagePP svg{background:#fff; width:70px ! important; height:70px ! important; box-shadow:0px 2px 10px #ccc! important;border-radius: 50%! important;object-fit: cover! important; display:flex ! important; align-items:center ! important; justify-content:center ! important; text-align:center ; margin-left:37% ! important; margin-bottom:5% ! important!; padding:8px }  .drK .imagePP svg{background:#2c2c2c; box-shadow:0px 2px 10px #000! important;stroke:#fff; fill:#fff}

  .info {width:100% ; padding:20px ;box-shadow:0px 2px 10px #ccc;border-radius: 15px ; display:flex ; align-items:justify ; justify-content:justify ; text-align:justify ; font-weight:bold ;background:#fff; font-size:14px ! important } .drK .info{box-shadow:0px 2px 10px #000! important; background:#2c2c2c} .drK .info2 {color:#01ffff ;}
  .info2 {color:red ; font-weight:none ! important; margin-left:10px ; }
.container button {padding:8px ; border-radius:10px ; text-align: center;margin:5px ; border:none ! important } .drK .container button {background:#5c5c5c;font-size:14px ! important ; padding:8px ! important}
  .container button:hover {background:#fff ; color:#000} .container #but1:hover {background:#fff ; color:#000} .container #but2:hover {background:#fff ; color:#000} .container #but3:hover {background:#fff ; color:#000} .container #but4:hover {background:#fff ; color:#000} .container #but5:hover {background:#fff ; color:#000} .container #but6:hover {background:#fff ; color:#000} 
  #but1 {background:lightgreen ; color:#fff}
  #but2 {background:red ; color:#fff}
  #but3 {background:lightgreen  }
  #but4 {background:orange ; color:#fff}
  #but5 {background:blue ; color:#fff}
  #but6 {background: skyblue ; color:#fff}
  /* CSS for the input fields */
.container input {
  display: block;width: 100%! important;padding: 14px;margin-bottom: 20px;border: none; border-radius:15px ;
 border-bottom: 2px solid #ddd; font-size: 16px;background-color: #f9f9f9;
 transition: border-bottom-color 0.3s ease; } 
.drK input { background:#2c2c2c}
.container input:focus {
  outline: none;
  border-bottom-color: #007bff;
}


.container ::placeholder {
  color: #999;
}
.container .label-file-upload {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.container .label-file-upload:hover {
  background-color: #0056b3;
}

/* Style the file input text */
.container .file-input-text {
  margin-left: 10px;
  font-size: 16px;
}

/* Show selected file name */
.container .selected-file-name {
  margin-top: 5px;
  color: #333;
  font-size: 14px;
}

.container {margin-top:20px ! important} .container  h2 { margin:10px ;}
 .b-box , #register-form ,#login-form {background:#fff; box-shadow:0px 2px 10px #ccc; border-radius:15px; padding:20px ;margin:5px; margin-bottom:15px; margin-top:10px  } .drK #register-form , .drK .b-box , .drK #login-form {background:#5c5c5c; box-shadow:0px 2px 10px #000;}.no-acc {display:flex; text-align: center; justify-content:center ; margin-top:10px } .no-acc a{ color:red ; font-weight:bold ; margin-left:5px  }.container .info:hover {border:1.5px solid red;   }
.RcML,.RcMLi,.RcMLs{width:100%}.RcML,.RcMcs{bottom:0;opacity:0;visibility:hidden}.RcML,.RcMcs,.hidden{visibility:hidden}.RcML,.RcML .RcMLi{border-radius:15px;max-width:150px;top:40px;right:15px;position:fixed}.RcMH,.RcML,.RcMcs{left:0;right:0}.RcML{display:flex;align-items:center;position:fixed;margin-bottom:-100%;z-index:20;transition:.1s;height:100%}.RcMH .cl,.RcMLi,.srhB .c{display:flex;position:relative}.RcMLi{max-width:210px;max-height:calc(100% - 60px);border-radius:12px;transition:inherit;z-index:3;overflow:hidden;margin:0 auto;box-shadow:0 5px 30px 0 rgba(0,0,0,.05)}.RcMLs{padding:60px 20px 20px;overflow-y:scroll;overflow-x:hidden;background:#fffdfc}.drK .RcMLs{background:#252526}.RcMH{display:flex;background:inherit;position:absolute;top:0;padding:0 10px;z-index:2}.RcMH .cl,.srhB .c{padding:0;align-items:center;justify-content:flex-end;flex-shrink:0;min-width:40px}.RcML .RCMtm .themeBtn,.RcML .RCMtmt .themeBtn,.RcMcs{display:block}.RcMH .c:after,.mnH .c:before,.ntfC .c:after,.srhB .c:after{content:'\2715';line-height:18px;font-size:13px}.RcMT:before{content:attr(data-text);flex-grow:1;padding:16px 10px;font-size:90%;opacity:.7}.RcMT .c:before,.mnH .c:after{content:attr(aria-label);font-size:11px;margin:0 8px;opacity:.6}#comment:target .RcML,.rcm:checked~.RcML{margin-bottom:0;opacity:1;visibility:visible}#comment:target .RcML .fCls,.rcm:checked~.RcML .fCls{opacity:1;visibility:visible;background:rgba(0,0,0,.2);-webkit-backdrop-filter:saturate(180%) blur(10px);backdrop-filter:saturate(180%) blur(10px)}.RcML .RCMtm>*,.RcML .RCMtmt>*{display:block;padding:9px 15px;width:100%;cursor:pointer;margin-right:-5px;margin-left:-5px}.RcML .RCMtm>:before,.RcML .RCMtmt>:before{content:attr(aria-label);opacity:.9}.RcML .RCMtm,.RcML .RCMtmt,ul.hdIc li .RcMcs{cursor:auto}.RcMcs{position:fixed;top:0;z-index:1;transition:.1s;background:0 0}#comment:target .RcML .RcMcs,.BlogSearch input:focus~.RcMcs,.rcm:checked~.RcML .RcMcs{opacity:1;visibility:visible;background:rgba(0,0,0,.2);-webkit-backdrop-filter:saturate(180%) blur(5px);backdrop-filter:saturate(180%) blur(5px)}.logReg{font-size:10px;opacity:1}.RCMtm label,.RCMtmt label{border-radius:0;margin-bottom:0;width:150px!important;margin-left:-20px!important;border-bottom:1px solid #ccc;border-top:1px solid #ccc}.RCMtm,.RCMtmt{margin-top:-10px}.RCMtm label:hover,.RCMtmt label:hover{box-shadow:0 2px 10px #ccc}.drK .RCMtm label:hover,.drK .RCMtmt label:hover{box-shadow:0 2px 10px #000}
