.imagePP svg{background:#fff; width:70px ! important; height:70px ! important; box-shadow:0px 2px 10px #ccc! important;border-radius: 50%! important;object-fit: cover! important; display:flex ! important; align-items:center ! important; justify-content:center ! important; text-align:center ; margin-left:37% ! important; margin-bottom:5% ! important!; padding:8px }  .drK .imagePP svg{background:#2c2c2c; box-shadow:0px 2px 10px #000! important;stroke:#fff; fill:#fff}

  .info {width:100% ; padding:20px ;box-shadow:0px 2px 10px #ccc;border-radius: 15px ; display:flex ; align-items:justify ; justify-content:justify ; text-align:justify ; font-weight:bold ;background:#fff; font-size:14px ! important } .drK .info{box-shadow:0px 2px 10px #000! important; background:#2c2c2c} .drK .info2 {color:#01ffff ;}
  .info2 {color:red ; font-weight:none ! important; margin-left:10px ; }
.container button {padding:8px ; border-radius:10px ; text-align: center;margin:5px ; border:none ! important } .drK .container button {background:#5c5c5c;font-size:14px ! important ; padding:8px ! important}
  .container button:hover {background:#fff ; color:#000} .container #but1:hover {background:#fff ; color:#000} .container #but2:hover {background:#fff ; color:#000} .container #but3:hover {background:#fff ; color:#000} .container #but4:hover {background:#fff ; color:#000} .container #but5:hover {background:#fff ; color:#000} .container #but6:hover {background:#fff ; color:#000} 
  #but1 {background:lightgreen ; color:#fff}
  #but2 {background:red ; color:#fff}
  #but3 {background:lightgreen  }
  #but4 {background:orange ; color:#fff}
  #but5 {background:blue ; color:#fff}
  #but6 {background: skyblue ; color:#fff}
  /* CSS for the input fields */
.container input {
  display: block;width: 100%! important;padding: 14px;margin-bottom: 20px;border: none; border-radius:15px ;
 border-bottom: 2px solid #ddd; font-size: 16px;background-color: #f9f9f9;
 transition: border-bottom-color 0.3s ease; } 
.drK input { background:#2c2c2c}
.container input:focus {
  outline: none;
  border-bottom-color: #007bff;
}


.container ::placeholder {
  color: #999;
}
.container .label-file-upload {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.container .label-file-upload:hover {
  background-color: #0056b3;
}

/* Style the file input text */
.container .file-input-text {
  margin-left: 10px;
  font-size: 16px;
}

/* Show selected file name */
.container .selected-file-name {
  margin-top: 5px;
  color: #333;
  font-size: 14px;
}

.container {margin-top:20px ! important} .container  h2 { margin:10px ;}
 .b-box , #register-form ,#login-form {background:#fff; box-shadow:0px 2px 10px #ccc; border-radius:15px; padding:20px ;margin:5px; margin-bottom:15px; margin-top:10px  } .drK #register-form , .drK .b-box , .drK #login-form {background:#5c5c5c; box-shadow:0px 2px 10px #000;}.no-acc {display:flex; text-align: center; justify-content:center ; margin-top:10px } .no-acc a{ color:red ; font-weight:bold ; margin-left:5px  }.container .info:hover {border:1.5px solid red;   }
